
.align-left {
    display: flex;
    align-items: flex-start;
    p {
        text-align: left;
    }
}

.align-center {
    display: flex;
    align-items: center;
    p {
        text-align: center;
    }
}

.align-right {
    display: flex;
    align-items: flex-end;
    p {
        text-align: right;
    }
}

h1.align-left,
h2.align-left,
h3.align-left,
h4.align-left,
h5.align-left,
h6.align-left,
p.align-left {
    text-align: left;
	align-self: flex-start;
}

h1.align-right,
h2.align-right,
h3.align-right,
h4.align-right,
h5.align-right,
h6.align-right,
p.align-right {
    text-align: right;
	align-self: flex-end;
}

h1.align-center,
h2.align-center,
h3.align-center,
h4.align-center,
h5.align-center,
h6.align-center,
p.align-center {
    text-align: center;
	align-self: center;
}
