@import '_split.scss';
@import '_align.scss';
@import '_animation.scss';

:root {
	--dbg-size: 0;
}

.dbg * {
	--dbg-size: 1px;
    border: 1px solid red;
}

.reset-margin > * {
	--r-block-margin: 0;
	--r-heading-margin: 0;
}

.flex-even > * {
	flex: 1;
}

//Get rid of color definition in layout (theme should handle this)

.has-light-background {
	--r-main-color: #000;
	--r-heading-color: #000;
}

.has-dark-background {
	--r-main-color: #fff;
	--r-heading-color: #fff;
}
