@import '_split.scss';
@import '_align.scss';
@import '_animation.scss';
@import '_callouts.scss';
@import '_stretch.scss';
@import '_arrowList.scss';
@import '_tables.scss';

:root {
	--dbg-size: 0;
}

.dbg,
.dbg * {
	--dbg-size: 1px;
	border: 1px solid red;
}

.reset-margin {
	--r-block-margin: 0;
	--r-heading-margin: 0;
}

.flex-even>* {
	flex: 1;
}
