// Exposes theme's variables for easy re-use in CSS for plugin authors

:root {

  $heading1FontWeight: $headingFontWeight !default;
  $heading2FontWeight: $headingFontWeight !default;
  $heading3FontWeight: $headingFontWeight !default;
  $heading4FontWeight: $headingFontWeight !default;
  $heading5FontWeight: $headingFontWeight !default;
  $heading6FontWeight: $headingFontWeight !default;

  --r-background-color: #{$backgroundColor};
  --r-main-font: #{$mainFont};
  --r-main-font-size: #{$mainFontSize};
  --r-main-color: #{$mainColor};
  --r-block-margin: #{$blockMargin};
  --r-heading-margin: #{$headingMargin};
  --r-heading-font: #{$headingFont};
  --r-heading-color: #{$headingColor};
  --r-heading-line-height: #{$headingLineHeight};
  --r-heading-letter-spacing: #{$headingLetterSpacing};
  --r-heading-text-transform: #{$headingTextTransform};
  --r-heading-text-shadow: #{$headingTextShadow};
  --r-heading1-font-weight: #{$heading1FontWeight};
  --r-heading2-font-weight: #{$heading2FontWeight};
  --r-heading3-font-weight: #{$heading3FontWeight};
  --r-heading4-font-weight: #{$heading4FontWeight};
  --r-heading5-font-weight: #{$heading5FontWeight};
  --r-heading6-font-weight: #{$heading6FontWeight};
  --r-heading1-text-shadow: #{$heading1TextShadow};
  --r-heading1-size: #{$heading1Size};
  --r-heading2-size: #{$heading2Size};
  --r-heading3-size: #{$heading3Size};
  --r-heading4-size: #{$heading4Size};
  --r-heading5-size: #{$heading5Size};
  --r-heading6-size: #{$heading6Size};
  --r-code-font: #{$codeFont};
  --r-link-color: #{$linkColor};
  --r-link-color-dark: #{darken($linkColor , 15% )};
  --r-link-color-hover: #{$linkColorHover};
  --r-selection-background-color: #{$selectionBackgroundColor};
  --r-selection-color: #{$selectionColor};
}
